body{
    border: none;
    margin: -8px;
    margin-top: -5px;

}
.www{
    border: none !important;
}
h1{
    text-align: center;
}
p{
    size:7;
    color:#ffffff;
}
.page1{
    background-color:#e9621f;
    border: none !important;
}
h1.txt{
    font-size: 30;
}
.page1{
    background:#e9621f;
    border: none !important;
}

h1.zagolovok {
    margin: 10px;
    text-align: center;
    color: white;
    font-size: 5em;
    transition: 0.5s;
    font-family: Arial, Helvetica, sans-serif;
}

h1.zagolovok:hover {
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc,
                    0 3px 0 #ccc, 0 4px 0 #ccc,
                    0 5px 0 #ccc, 0 6px 0 #ccc,
                    0 7px 0 #ccc, 0 8px 0 #ccc,
                    0 9px 0 #ccc, 0 10px 0 #ccc,
                    0 11px 0 #ccc, 0 12px 0 #ccc,
                    0 20px 30px rgba(0, 0, 0, 0.5);
}
.container{
    width: 100%;
    height: 600px;
    display: flex;
}
.tvoy {
    width: 50%;
    margin-left: 30px;
}
.what{
    width: 50%;
    font-size: 600%;
    font-size: 5em;
    color: #ffffff;
    font-family: "arial black";
    font-weight: bold;
    text-align: left;

}
.button1{
    position: relativ;
    color: #e9621f;
    font-weight: bold;
    border-radius: 40px;
    width: 40%;
    height: 40px;
    text-decoration: none;
    user-select: none;
    padding: .10em 5em;
    outline: none;
    background-color: white;
    background-size: 200% 100%, auto;
    background-position: 200% 0, 0 0;
  } 
.picture{
    width: 50%;
}
img.car{
    width: 90%;   
} 
.page2{
    background: #033;
    border: none !important;
}
.page2_tittle{
    color: white;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.page2_img  {
    margin-left: 100px;
    border-radius: 10px;
}
.page2_img_div{
    width: 50%;    
}
.page2_obj{
    width: 100%;
    border: none !important;
}
.h1.page2{
    width: 50%;
}
.form_page3{
    width: 100%;
    display: flex;
    padding: 0 0 20px 0;
} 
.form{
    text-align: center;
    width: 50%;
    color: #43424281;
}
.map{
    width: 50%;
    align-content: center;
}
.field{
    width: 70%;
    height: 30px;
}
.but{
    margin-top: 10px;
    background-color: #4e4a49;
    color: #ffffff;
    height: 50px;
    width: 71%;
}
.map{
    width: 50%;
    text-align: center;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background: #fcfcfc;
}
footer{
    background: #111;
    /* position: absolute; */
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100vw;
    font-family: "Open sans";
    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    text-align: center;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;

}
.socials a{
    text-decoration: none;
    color: #ffffff;
}
.socials a i{
    font-size: 1.1rem; 
}
.socials a:hover i{
    color: aqua;
    transition: color .4s ease;
}
.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    text-align: center;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
    text-align: center;
}
.h4{
    margin-left: 1250px;
}
.soc{
    width: 25px;
    
}